<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <appSettings>
    <!-- 10 Percent Discount-->
    <add key="FirstDiscount" value=".1" />
    <!-- 15 Percent Discount-->
    <add key="SecondDiscount" value=".15" />
    <!-- 20 Percent Discount-->
    <add key="ThirdDiscount" value=".20" />
    <!-- 30 Percent Target Margin-->
    <add key="TargetMarginPercent1" value=".30" />
    <!-- 35 Percent Target Margin-->
    <add key="TargetMarginPercent2" value=".35" />
    <!-- 40 Percent Target Margin-->
    <add key="TargetMarginPercent3" value=".40" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="urlString" value="http://boxx/OnlineMarginCalculator/default.aspx?" />
    <!--<add key="urlString" value="http://localhost:64420/default.aspx?" />-->
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<connectionStrings><add name="BOXX_V2Entities" connectionString="metadata=res://*/App_Code.BV2Model.csdl|res://*/App_Code.BV2Model.ssdl|res://*/App_Code.BV2Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=boxxerp2;initial catalog=BOXX_V2;persist security info=True;user id=websurfer;password=cyaid10t;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>